<div class="board_index">
  ボード一覧
</div>

  <a href= "<%= new_board_path %>">
  スレ立てはココ
  </a><br>
  <div class="search_field">
  スレ検索はこちらから
  </div>
<%= form_with(model: Board.new,local:true,url: search_boards_path,method: :get) do |f| %>
  <%= f.text_field :text %>
  <%= f.submit "検索する",id: "submit"%>
<% end %>

<% @boards.each do |b| %>
  <div class="main">
    <div class="board_image">
    </div>
    <div class="board_name">
      <%= link_to board_path(b.id) do%>
        <%= b.title %>
      <% end %>
    </div>
  </div>
<% end %>