<div class="title">
<%= @board.title %>
</div>

<div class="category">
  <% @board.categories.each do |c| %>
    <div class="box">
      <%= c.name %>
    </div>
  <% end %>
</div>
<br>
投稿内容

<% @board.comments.each_with_index do |b,i| %>
<div class="message">
  <div class="metadata">
  <span class="number"><%= i+1 %></span>
  <span class="name"><b>名無し</b></span><span class="date"><%= b.created_at %></span></div>
  <%= b.text %>
  </div>
</div>
<% end %>
<br>
投稿機能

<%= form_with(model: Comment.new, local: true) do |f| %>
  <%= f.text_field :text %>
  <%= f.hidden_field :board_id,value: @board.id %>
  <%= f.submit %>
<% end %>