<div class="title">
<%= @board.title %>
</div>

<div class="category">
  <% @board.categories.each do |c| %>
    <div class="box">
      <%= c.name %>
    </div>
  <% end %>
</div>
<br>
投稿内容
<% @board.comments.each do |b| %>
  <%= b.text %>
<% end %>
<br>
投稿機能

<%= form_with(model: Comment.new, local: true) do |f| %>
  <%= f.text_field :text %>
  <%= f.hidden_field :board_id,value: @board.id %>
  <%= f.submit %>
<% end %>